block content
    
    .about_title_container
        h3 うさぎ専門の
        h1 Pet Sitter HANAは
    .about_bottom_container
        .about__feature
            .about__feature_top_container
                .about__feature__icon
                    <i class="fas fa-heart"></i>
                .about__feature__title 優しさ
            .about__feature__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, recusandae. Pariatur dicta, quas eveniet excepturi id, minima corporis impedit sit, commodi tempore reprehenderit fugiat? Aut tempora ea eaque expedita dicta!
        .about__feature
            .about__feature_top_container
                .about__feature__icon
                    <i class="fas fa-unlock-alt"></i>
                .about__feature__title 安心さ
            .about__feature__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, recusandae. Pariatur dicta, quas eveniet excepturi id, minima corporis impedit sit, commodi tempore reprehenderit fugiat? Aut tempora ea eaque expedita dicta!
        .about__feature
            .about__feature_top_container
                .about__feature__icon
                    <i class="fas fa-heart"></i>
                .about__feature__title カスタムケア
            .about__feature__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, recusandae. Pariatur dicta, quas eveniet excepturi id, minima corporis impedit sit, commodi tempore reprehenderit fugiat? Aut tempora ea eaque expedita dicta!
