.header_wrap
    .header 
        .header__left <i class="fas fa-phone-volume"></i> 070-5555-5555  <i class="fas fa-envelope"></i> mail@mail.com
        .header__right <i class="fab fa-instagram"></i>