nav.navigation
    .navigation.logo
        <i class="fas fa-paw"></i>Pet Sitter HANA
    .navigation.menu#navigation_menu
        ul.navigation.menu__btn_wrap
            li.navigation.menu__btn
                a(href="/") ホーム
            li.navigation.menu__btn
                a(href="/about") About
            li.navigation.menu__btn
                a(href="/service") サービス内容
            li.navigation.menu__btn
                a(href="/plan") 料金プラン
            li.navigation.menu__btn
                a(href="/contact") Contact
    .navigation_toggle_btn
        a(href="#")  <i class="fas fa-bars"></i>
    script.
        const toggle = document.querySelector('.navigation_toggle_btn');
        const menu = document.querySelector('#navigation_menu');
        const handleClick = () => {
        menu.classList.toggle('active');
        };
        toggle.addEventListener('click', handleClick);
