nav.navigation
    .navigation.logo
        <i class="fas fa-paw"></i>Pet Sitter HANA
    .navigation.menu
        ul.navigation.menu__btn_wrap
            li.navigation.menu__btn
                a(href="/") Home
            li.navigation.menu__btn
                a(href="/about") About Us
            li.navigation.menu__btn
                a(href="/plan") Plan
            li.navigation.menu__btn
                a(href="/contact") Contact Us

    .navigation_toggle_btn
        a(href="#")  <i class="fas fa-bars"></i>