extends layout

block content
	section.home
		msg.home_msg_container
				.home_title
					h3.home_title__sub ネザー、ロップ、ミニうさぎなど
					h1.home_title__title うさぎ専門の<br/>ペットシッター
				.home_btn
					.home_btn_btn About
					.home_btn_btn Service
		home_bg
			home_bg_overlay
	section.about
		include ./partials/about_content
	