:root {
  --main-bg-color: #ee9f20;
  --main-text-color: #353535;
}

body {
  font-family: 'Mukta Malar', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
a {
  color: var(--main-text-color);
}

.header {
  height: 32px;
  background-color: var(--main-bg-color);
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  font-size: 13px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}
.navigation.logo i {
  font-size: 29px;
  color: var(--main-bg-color);
  margin-right: 5px;
}
.navigation.logo {
  font-size: 20px;
  color: var(--main-bg-color);
}
.navigation.menu {
  display: flex;
  padding: 0;
}
.navigation.menu li {
  padding: 8px 12px;
}
.navigation.menu li:hover {
  padding: 8px 12px;
  background-color: var(--main-bg-color);
  border-radius: 4px;
}
.navigation.menu li:hover > a {
  color: white;
}

.navigation_toggle_btn {
  position: absolute;
  z-index: 9;
  right: 25px;
  top: 58px;
  display: none;
}
.navigation_toggle_btn:hover > a {
  color: rgb(221, 90, 43);
}

@media screen and (max-width: 768px) {
  a {
    color: white;
  }
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    background-color: var(--main-bg-color);
  }
  .navigation.logo {
    display: inline;
    color: white;
    z-index: 2;
  }
  .navigation.logo i {
    color: white;
  }
  .navigation.menu {
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .navigation.menu li:hover {
    background-color: white;
  }
  .navigation.menu li:hover > a {
    color: var(--main-bg-color);
  }
  .navigation_toggle_btn {
    display: block;
  }
}
